<% if Webhook.where(:project_id => @project.id).first%>
<div class="box tabular">
<% Webhook.where(:project_id => @project.id).each do |webhook|%>
<%= form_tag(update_webhook_path(@project, webhook.id), :method => :put, :class => "tabular") do %>
<span>
  <span><strong><%=l(:label_webhook_url)%></strong></span>
  <%= text_field_tag :url, webhook.url, :size => 80 %>
  <span><strong><%=l(:label_webhook_secret_key)%></strong></span>
  <%= password_field_tag :secret_key, webhook.secret_key, :size => 32 %>
  <span><strong><%=l(:label_webhook_subprojects)%></strong></span>
  <%= check_box_tag :subprojects, 1, webhook.subprojects %>
  <span><strong><%=l(:label_webhook_hmac_alg)%></strong></span>
  <%= select_tag :hmac_alg, options_for_select(['sha256', 'sha1'], webhook.hmac_alg) %>
  <%= submit_tag l(:button_update) %>
</span>
<% end %>
<%= link_to l(:button_delete), delete_webhook_path(@project, webhook.id), :class => "icon icon-del", :method => :delete, :confirm => l(:text_are_you_sure) %>
</br>
<% end %>
</div>
<% end %>

<%= form_tag(create_webhook_path(@project), :method => :post, :class => "tabular") do %>
<div class="box tabular">
<span>
  <span><strong><%=l(:label_webhook_url)%></strong></span>
  <%= text_field_tag :url, '', :size => 80 %>
  <span><strong><%=l(:label_webhook_secret_key)%></strong></span>
  <%= password_field_tag :secret_key, '', :size => 32 %>
  <span><strong><%=l(:label_webhook_subprojects)%></strong></span>
  <%= check_box_tag :subprojects, 1, false %>
  <span><strong><%=l(:label_webhook_hmac_alg)%></strong></span>
  <%= select_tag :hmac_alg, options_for_select(['sha256', 'sha1'], 'sha256') %>
  <%= submit_tag l(:button_add) %>
</span>
</div>
<% end %>
